
/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('../images/bg.jpg_flipped.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: top;
}
